[
  {mssql, [
    {pools, [
      {test_pool, [
        {size, 5},
        {max_overflow, 20}], [
        {server, "localhost"},
        {trace, "No"},
        {driver, "FreeTDS"},
        {port, "1433"},
        {database, "database"},
        {uid, "username"},
        {pwd, "password"}
      ]}
    ]}
  ]}
].